<div class="col-sm-8 col-md-9">

						<div class="sort-by-wrapper clearfix">

							<div class="row gap-5">

								<div class="col-sm-10">

									<div class="text-holder bg-primary">Sort By:</div>
									<ul class="sort-by">
										<li>
											<button class="btn">Rating</button>
										</li>

										<li>
											<button class="btn">Cuisine</button>
										</li>
										<li>
											<button class="btn">Location</button>
										</li>
									</ul>

								</div>

								<div class="col-sm-2">



								</div>

							</div>

						</div>

						<div class="restaurant-list-item-wrapper no-last-bb">
              {{#if restaurants}}

              {{#each restaurants as |r|}}
							<div class="restaurant-list-item clearfix">

								<div class="GridLex-grid-noGutter-equalHeight">

									<div class="GridLex-col-3_sm-3_xss-12">
										<div class="image">
                      {{#if r.image}}
											    <img src="images/restaurant/01.jpg" alt="Image">
                      {{else}}
                          <img src="/images/logo-placeholder.png" alt="Image">
                      {{/if}}
										</div>
									</div>

									<div class="GridLex-col-9_sm-9_xss-12">

										<div class="GridLex-grid-noGutter-equalHeight">

											<div class="GridLex-col-9_sm-12 content-wrapper">

												<div class="content">
													<h5><a href="/restaurants/show/{{r._id}}">{{r.name}}</a></h5>
                          {{#iff r.fullAddress '==' 'undefined, undefined, undefined'}}
                            No Address Yet, Check Map for Location
                          {{else}}
  													<p class="location"><i class="fa fa-map-marker"></i> {{r.fullAddress}}</p>
                          {{/iff}}
													<p class="short-info">{{r.description}}</p>
													<!-- <p class="text-primary offer">-30% off the "à la carte" menu! * </p> -->
													<p class="cuisine">Cuisine:
                            {{#each r.tags as |t|}}
                            <span>{{t.name}}</span>
                            {{/each}}</p>
												</div>

											</div>

											<div class="GridLex-col-3_sm-12 meta-wrapper">

												<div class="meta">
													<div class="rating-wrapper">
														<div class="rating-item">
															<input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly="" value="{{ r.final_rating}}">
														</div>
														<span class="texting"> ({{r.reviews.length}} reviews)</span>
													</div>
													<div class="right-bottom">
														<!-- <div class="price">Average price: <span>$65 - $78</span></div> -->
														<div class="clear"></div>
														<a href="/restaurants/show/{{r._id}}" class="btn btn-primary btn-sm btn-block">Details</a>
													</div>
												</div>

											</div>

										</div>

									</div>

								</div>

							</div>
              {{/each}}
              {{/if}}
						</div>

						<div class="pagination-wrapper">

							<div class="GridLex-grid-middle GridLex-grid-noGutter">
								<div class="GridLex-col-6_sm-12_xs-12">
									<div class="text-right text-center-sm mb-10-sm">Showing 1 to 24 from 253 restaurants</div>
								</div>
								<div class="GridLex-col-6_sm-12_xs-12">
                  {{#iff pages ">" 0}}

									<nav>
										<ul class="pagination pagination-text-center-sm mb-5-xs">
                      {{#iff current "==" 1}}
											<li>
												<a href="/restaurants/?page=1" aria-label="Previous">
													<span aria-hidden="true">«</span>
												</a>
											</li>
                      {{else}}
                      <li>
												<a href="/restaurants/?page=1" class="disabled" aria-label="Previous">
													<span aria-hidden="true">«</span>
												</a>
											</li>
                      {{/iff}}
											<li class="active"><a href="#">1</a></li>

											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li>
												<a href="#" aria-label="Next">
													<span aria-hidden="true">»</span>
												</a>
											</li>
										</ul>
									</nav>
                  {{/iff}}

								</div>
							</div>

						</div>

					</div>
