<div class="main-wrapper scrollspy-container">

			<!-- start hero-header -->
      {{>search}}
			<!-- end hero-header -->

			<div class="container pt-10 pb-30">

				<div class="breadcrumb-wrapper">
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Result</a></li>
						<li><a href="#">Restuarant</a></li>
						<li class="active">Review for {{restaurant.name}}</li>
					</ol>
				</div>

				<div class="row mt-40">

					<div class="col-sm-4 col-md-3 mb-30">

						<div class="section-title-02 mb-20">
							<h4><span>Review for:</span></h4>
						</div>

						<div class="restaurant-grid-item bg-white">
							<!-- <a href="#"> -->
								<div class="image">
									<img src="/uploads/{{restaurant.image}}" alt="Image">
								</div>
								<div class="content">
									<h5>{{restaurant.name}}</h5>
									<p class="location mb-0"><i class="fa fa-map-marker"></i>
                      {{restaurant.location.address}}, {{restaurant.location.city}},
                      {{restaurant.location.country}}
                  </p>
								</div>
							<!-- </a> -->

							<a href="" class="btn btn-primary btn-sm btn-block mt-10"><i class="fa fa-arrow-left"></i> Back to detail</a>

						</div>

						<div class="clear mb-40"></div>

						<div class="section-title-02 hidden-xs">
							<h4><span>Nearby Restuarant:</span></h4>
						</div>

						<div class="sidebar-module clearfix mb-30 hidden-xs">

							<div class="restaurant-sm-wrapper">

								<div class="restaurant-sm-item clearfix">
									<a href="#">
										<div class="image">
											<img src="images/restaurant/03.jpg" alt="Image">
										</div>
										<div class="content">
											<div class="rating-wrapper">
												<div class="rating-item">
													<input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly="" value="4">
												</div>
											</div>
											<h6>DID - Dine in the Dark </h6>
											<p class="location"><i class="fa fa-map-marker"></i> 250 Sukhumvit Rd, Bangkok</p>
										</div>
									</a>
								</div>

							</div>

						</div>



					</div>

					<div class="col-sm-8 col-md-9 mb-30">

            <div id="map" style="height:250px"> </div>

            <script>
              var map, marker

              function initMap() {
                //9.05921071704827,7.499799728393555
                var uluru = {lat: {{restaurant.location.latitude}}, lng: {{restaurant.location.longitude}} };
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 14,
                  center: uluru
                });
                marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                })

                google.maps.event.addListener(map, "click", function (e) {
                    //lat and lng is available in e object
                    var latLng = e.latLng;
                    console.log(latLng.lat() +"," + latLng.lng());

                    // This event listener will call addMarker() when the map is clicked.
                    if (!marker || !marker.setPosition) {
                      marker = new google.maps.Marker({
                        position: latLng,
                        map: map
                      })
                      } else {
                        marker.setPosition(latLng);
                      }

                });
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGNfQNKn-rt2wR9z7szBibbcyayU2TtH0&callback=initMap">
            </script>

						<div class="review-wrapper">

							<div class="review-header">

								<div class="GridLex-gap-30">

									<div class="GridLex-grid-middle">

										<div class="GridLex-col-4_sm-5_xs-12">

											<div class="average-score">

												<div class="progress-radial progress-radial-md progress-80">
													<div class="overlay">
														<div class="progress-radial-inner">
															<div class="caption">

																<p class="number">{{data.average}}</p>

															</div>
														</div>
													</div>
												</div>

												<div class="texting">

													<h6>Very good</h6>
													<a href="#">(based on {{restaurant.reviews.length}} reviews)</a>

												</div>

											</div>

										</div>

										<div class="GridLex-col-8_sm-7_xs-12">

											<div class="item-score clearfix">

												<ul class="item-score-list">

													<li>

														<div class="progress-radial progress-radial-sm progress-80">
															<div class="overlay">
																<div class="progress-radial-inner">
																	<div class="caption">

																		<p class="number">{{ data.food}}</p>

																	</div>
																</div>
															</div>
														</div>
														<p class="text-center">Quality of food</p>

													</li>

													<li>

														<div class="progress-radial progress-radial-sm progress-80">
															<div class="overlay">
																<div class="progress-radial-inner">
																	<div class="caption">

																		<p class="number">{{ data.service}}</p>

																	</div>
																</div>
															</div>
														</div>
														<p class="text-center">Level of service</p>

													</li>

													<li>

														<div class="progress-radial progress-radial-sm progress-80">
															<div class="overlay">
																<div class="progress-radial-inner">
																	<div class="caption">

																		<p class="number">{{ data.recommend}}</p>

																	</div>
																</div>
															</div>
														</div>
														<p class="text-center">Likely to recommend</p>

													</li>

													<li>

														<div class="progress-radial progress-radial-sm progress-80">
															<div class="overlay">
																<div class="progress-radial-inner">
																	<div class="caption">

																		<p class="number">{{data.clean}}</p>

																	</div>
																</div>
															</div>
														</div>
														<p class="text-center">Cleaniness</p>

													</li>

												</ul>

											</div>

										</div>

									</div>

								</div>

							</div>

							<div class="clearfix text-right">
								<a href="#review-form" class="btn btn-primary btn-sm mt-20 anchor"><i class="fa fa-pencil"></i> Leave your review</a>
							</div>

							<div class="review-item-wrapper">

								<ul class="review-item-list">
                  {{!#if restuarant.reviews.length }}
                  <!-- Lenght: {{!restuarant.reviews.length}} -->
                  {{#each restaurant.reviews as |review|}}
									<li class="clearfix">

										<div class="review-man">

											<div class="image">

												<img src="{{review.user.photo}}" alt="images">

											</div>

											<h6>{{ review.user.firstname }} {{ review.user.lastname }}</h6>
											<p>from {{ review.user.city }}</p>

										</div>

										<div class="review-content">

											<div class="review-arrow">
												<span></span>
											</div>

											<div class="meta-top">

												<div class="progress-radial progress-radial-sm progress-80">
													<div class="overlay">
														<div class="progress-radial-inner">
															<div class="caption">

																<p class="number">{{ review.rating.total}}</p>

															</div>
														</div>
													</div>
												</div>

												reviewed on {{review.created_at}}

											</div>

											<div class="review-entry">
												<p>{{ review.description }}</p>
											</div>

											<div class="meta-bottom">

												<ul class="review-score-list clearfix">
													<li>Food: {{review.rating.food}}</li>
													<li>Service: {{review.rating.service}}</li>
													<li>Recommend: {{review.rating.recommend}}</li>
													<li>Clean: {{review.rating.clean}}</li>
												</ul>

												<!-- <ul class="review-useful clearfix">
													<li><span>Was this review helpful? </span></li>
													<li class="the-label rated"><a href="#"><i class="fa fa-thumbs-up"></i></a> 2</li>
													<li class="the-label"><a href="#"><i class="fa fa-thumbs-down"></i></a> 0</li>
													<li class="for-report"><a href="#"><i class="fa fa-flag"></i></a></li>
												</ul> -->


											</div>

										</div>

									</li>
                  {{/each}}
                  {{!else}}
                  <!-- <li>
                      <div class="alert alert-danger">
                          No information yet
                      </div>
                  </li> -->

                  {{!/if}}
								</ul>

							</div>

							<!-- <div class="btn-wrappper">

								<a href="#" class="btn btn-primary">Load more reviews</a>

							</div> -->

						</div>

						<div id="review-form" class="mt-50">

							<div class="section-title-02">
								<h3><span>Leave your review</span></h3>
							</div>

							<form class="clearfix review-form-inner" method="post" action="/restaurants/review">

								<div class="row gap-20">
                  <input type="hidden" name="restaurant" class="form-control" value="{{restaurant._id}}" />
									<!-- <div class="col-xs-12 col-sm-6 col-md-6">

										<div class="form-group">
											<label>Your Name: </label>
											<input type="text" class="form-control">
										</div>

									</div> -->

									<!-- <div class="col-xs-12 col-sm-6 col-md-6">

										<div class="form-group">
											<label>Your Email Address: </label>
											<input type="email" class="form-control">
										</div>

									</div> -->

								</div>

								<div class="col-5-wrapper col-3-wrapper-sm col-2-wrapper-xss gap-20">

									<div>

										<div class="form-group">

											<label>Food: </label>

											<div class="rating-wrapper">
												<div class="rating-item">

                          <input type="hidden" class="rating-label" data-filled="oi oi-star" name="food" data-empty="oi oi-star" data-fractions="2" value="0">
												</div>
											</div>

										</div>

									</div>

									<div>

										<div class="form-group">

											<label>Recommend: </label>

											<div class="rating-wrapper">
												<div class="rating-item">

                          <input type="hidden" class="rating-label" data-filled="oi oi-star" name="recommend" data-empty="oi oi-star" data-fractions="2" value="0">
												</div>
											</div>

										</div>

									</div>

									<div>

										<div class="form-group">

											<label>Service: </label>

											<div class="rating-wrapper">
												<div class="rating-item">

                          <input type="hidden" class="rating-label" data-filled="oi oi-star" name="service" data-empty="oi oi-star" data-fractions="2" value="0">
												</div>
											</div>

										</div>

									</div>

									<div>

										<div class="form-group">

											<label>Clean: </label>

											<div class="rating-wrapper">
												<div class="rating-item">
                          <input type="hidden" class="rating-label" data-filled="oi oi-star" name="clean" data-empty="oi oi-star" data-fractions="2" value="0">
												</div>
											</div>

										</div>

									</div>

								<!--	<div>

										 <div class="form-group">

											<label>Instructor: </label>

											<div class="rating-wrapper">
												<div class="rating-item">
                                <input type="hidden" class="rating-label" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" value="4.5">
												</div>
											</div>

										</div>

									</div> -->

								</div>

								<div class="row gap-20">

									<div class="col-xs-12 col-sm-12 col-md-12">

										<div class="form-group">
											<label>Your Message: </label>
											<textarea name="review" class="form-control form-control-sm" rows="5"></textarea>
										</div>
									</div>

									<div class="clear"></div>

									<div class="col-xs-12 col-sm-12 col-md-12">
                    {{#if currentUser }}
										    <input class="btn btn-primary btn-sm mt-5" name="Submit" type="submit" />
                    {{else}}
                        <a href="/auth/facebook/callback" class="btn btn-facebook btn-block">sign-in with Facebook</a>
                    {{/if}}
									</div>

								</div>

							</form>

						</div>

					</div>

				</div>

			</div>

		</div>
